@{
    ViewData["Title"] = "GoT ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Game of Thrones Wiki</h1>
    <img src="https://upload.wikimedia.org/wikipedia/en/d/d8/Game_of_Thrones_title_card.jpg" alt="Game of Thrones" class="center-block" />
</div>
